* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

ul {
    list-style: none;
}

.header {
    background-color: blueviolet;
    padding: 12px 0;
    position: sticky;
    top: 0;
}

li {
    display: inline;
    margin-left: 40px;
}

li a {
    color: white;
    text-transform: capitalize;
}

li a.active,
li a:hover {
    border: 2px solid white;
    padding: 3px 7px;
    border-radius: 3px;
}
#nav-check{
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.nav,
.logo {
    padding: 0 15px;
}

.nav-toggler {
    height: 33px;
    width: 43px;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
}

.nav-toggler span {
    display: block;
    height: 4px;
    width: 28px;
    border-radius: 3px;
    background-color: blueviolet;
    position: relative;
}

.nav-toggler span::before,
.nav-toggler span::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    background-color:blueviolet;
    left: 0;
}

.nav-toggler span::before {
    top: -6px;
}

.nav-toggler span::after {
    top: 5.7px;
}

@media(max-width:991px) {
    .nav-toggler {
        display: flex;
        margin-right: 14px ;
    }

    .header .nav {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        background-color: blueviolet;
        padding-bottom: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        display: none;
        /* transition: all 0.3s ease; */
    }

   .header .nav ul li a {
        display: block;
        margin: 0;
    }

    li a.active,
    li a:hover {
        border: 2px solid white;
        padding: 3px 0;
        border-radius: 3px;
    }
 
    /* a{
            text-align: end;
        }  */
    .header #nav-check:checked ~ .nav {
        opacity: 1 !important;
        display: block;
    }
    .header #nav-check:focus ~ .nav-toggler{
       box-shadow: 0 0 15px #000000;
     }
    .header #nav-check:checked ~ .nav-toggler span{
        background-color: transparent;
    }
    .header #nav-check:checked ~ .nav-toggler span::before{
       top: 0;
       transform: rotate(45deg);
    }
    .header #nav-check:checked ~ .nav-toggler span::after{
        top: 0;
        transform: rotate(-45deg);
     }

}